# 星耀数智服务账号密码
AMAZING_USERNAME=211600011xxx
AMAZING_PASSWORD=211600011xxx@20xx
AMAZING_HOST=140.206.44.xxx
AMAZING_PORT=8600

# NATS 行情推送
NATS_URL=nats://127.0.0.1:4222
NATS_SUBJECT=market.tick.amazing
NATS_BATCH_SIZE=1000
NATS_FLUSH_INTERVAL=0.02
NATS_MAX_QUEUE_SIZE=100000
